node_modules/
dist/
lib/
*.tsbuildinfo
.env
.env.local
.env.*.local
test.json
*.pem
*.key
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/*.code-snippets
.vscode/settings.json
src/index.ts
